<div class="background">
  <div class="shadow-background">
    <div class="eatgroup-list-text">
      <h2>My EatGroups</h2>

      <button class="btn btn-primary" routerLink="/eatgroup-create">Create EatGroup</button>
      <br><br>
      <p>Type something in the input field to search the Eat Groups:</p>

      <input id="myInput" onkeyup="searchTable()" placeholder="Search for EatGroups.." type="text">
      <table id="myTable">
        <tr *ngFor="let eatGroup of eatgroups">
          <td>
            {{ eatGroup.name }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
