<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="background">
  <div class="shadow-background">
    <div class="eatgroup-list-text">
      <h2>My EatGroups</h2>

      <button class="btn btn-primary" routerLink="/eatgroup-create"><i class="fas fa-plus"></i> Create EatGroup</button>
      <br><br>

      <input id="myInput" onkeyup="searchTable()" placeholder="Search for EatGroups.." type="text">
      <table id="myTable">
        <tr *ngFor="let eatGroup of eatgroups">

<!--      If this group is made by you, you should get an edit button.-->
          <td><a href="/eatgroup-update/{{ eatGroup.id }}/{{ eatGroup.name}}"><i class="far fa-edit"></i></a></td>

          <td>{{ eatGroup.name }}</td>

<!--      Show count of members-->
          <td><a data-toggle="tooltip" title="This Eatgroup has {{ eatGroup.accounts.length }} members"><i class="fas fa-users"></i> {{ eatGroup.accounts.length }}</a>
          </td>

<!--      If the user is added to this group, you should get the "check" symbol-->
<!--          <td>-->
<!--            <i class="fas fa-check-circle"></i>-->
<!--          </td>-->
        </tr>
      </table>
    </div>
  </div>
</div>
