
<div class="restaurant-search">
  <div class="list-header-text">
    <h2>The following restaurants in your specified area match your selection the best:</h2>
  </div>
  <div *ngIf="!Restaurants">Geen restaurants</div>
  <div *ngIf="Restaurants" class="restaurant-list">
    <li *ngFor="let Restaurant of Restaurants">
      <div class='reslist card'>
        <a class="dtl" [attr.href]="Restaurant.url">
        <div class="imgdiv" >

          <img class="featimg" src="{{Restaurant.photo_url}}">

        </div>
        <div class="spacer"></div>
        <div class="txtdiv">
          <h2 class="restext">{{Restaurant.name}}</h2>
          <p class="restext">Cuisines: {{Restaurant.cuisines}} </p>
          <p class="restext">Average cost: ${{Restaurant.average_cost_for_two / 2}}</p>
        </div>
        </a>
      </div>
    </li>
  </div>
        <div class="modal-btns">
            <button class="button prev-btn">&lt;</button>
            <button class="button next-btn">&gt;</button>
         </div>
</div>


