<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="background">
  <div class="shadow-background">
    <div class="eatgroup-create-text">
      <h2><i class="fas fa-plus"></i> Create your own EatGroup</h2><br>
      <form name="createEG" (ngSubmit)="onSubmit()">
        <div class="form-group" [class.has-error]="createeatgroupControl.invalid">
          <label for="name" class="control-label">EatGroup: </label>
          <input [(ngModel)]="createeatgroup.name"
                 class="form-control"
                 id="name"
                 name="name"
                 placeholder="Enter your EatGroup name"
                 type="text">
          <span class="help-block" *ngIf="createeatgroup.invalid">Name is wrong</span>
         </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="createEG.invalid"
        >Create EatGroup</button>
      </form>
    </div>
  </div>
</div>
