<div class="filterdiv">

  <form #inputForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="checks">
      <h2>I feel like eating...</h2>
      <div class="filter-text">
        <div class="first-half-cuisines">
          <li *ngFor="let FilterCheck of FilterChecks | slice: 0: FilterChecks.length / 2">
            <input type="radio" name="checkboxes" [(ngModel)]="FilterCheck.checked"  value="{{FilterCheck.cuisineId}}"/><label>{{FilterCheck.cuisine}}</label>
          </li>
        </div>
        <div class="second-half-cuisines">
          <li *ngFor="let FilterCheck of FilterChecks | slice: FilterChecks.length / 2: FilterChecks.length">
            <input type="radio" name="checkboxes" [(ngModel)]="FilterCheck.checked" value="{{FilterCheck.cuisineId}}"/>{{FilterCheck.cuisine}}
          </li>
        </div>
      </div>
    </div>
    <div class="slider-container">
        <div class="form-group">
          <h2>Maximum Distance</h2>
          <div class="slider_holder">
            1
            <input
              type="range"
              min="1"
              max="20"
              class="slider"
              id="distance"
              [(ngModel)]="sliderValue"
              name="slider"
              required
              #slider="ngModel"
            />
            20
          </div>
          <input
            type="number"
            id="name"
            name="name"
            class="form-control slidertext"
            min="1"
            max="20"
            required
            [(ngModel)]="sliderValue"
            #slider="ngModel"
          />
          km
        </div>
    </div>
    <div class="submit-button">
      <button type="submit" class="findButton">Find Me Food!</button>
    </div>
  </form>
</div>
