:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filterdiv{
  background-color: white;
  color: #47525E;
  border-radius: 25px;
  position: fixed;
  margin: 6% 8%;
  width: 25%;
  height: 81%;
  float: left;
}

.filterdiv h2{
  font-weight: 600;
  padding: 16px 0;
  font-size: 1.5vw;
  color: #FFD185;
  text-align: center;
}
.checks{
}
.FindButton{
  background-color: #FFD185;
  color: #47525E;
  padding: 1vh 2vw;
  text-align: center;
  margin-top: 2px;
  margin-right: 25px;
  border-radius: 0.5vw;
  cursor: pointer;
  border: none;
  position: relative;
  top: 28px;
  left: 6px;
}
.filter-text input{
  margin-bottom: 2%;
}

.filter-text .first-half-cuisines{
  float: left;
  margin-left: 20%;
  max-width: 35%;
}

.filter-text .second-half-cuisines{
  margin-left: 50%;
  max-width: 35%;
}

.slider-container{
  text-align: center;
}
.slider{
  margin-top: -3%;
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 100%;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #FFD185;
  cursor: grab;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.form-control{
  margin: 20px 0;
  border: 0;
  box-shadow: none;
  caret-shape: block;
}

.slidertext{
}

.ng-valid[required]{
  border: none;
}

li{
  list-style: none;
}
