.filterdiv{
  height: 98%;
  background-color:white;
  position: fixed;
  width: 25%;
  float:left;
  margin-bottom: 99%;
  margin-top: 1%;
  z-index: 4;
  border-color: black;
  border-style: inset;
}
.checks{
  padding-left: 2%;
}
.slider{
  padding-left: 2%;
}
.form-control{
  border: 0;
  box-shadow: none;
  caret-shape: block;
  padding-left: 2%;
}
.slidertext{
  padding-left: 22%;
}

.ng-valid[required]{
  border: none;
}

li{
  list-style: none;
}
