<div class="background">
  <div class="shadow-white-background-1">
    <div class="find-restaurant-title">
      <h1>Find restaurant</h1>
    </div>
    <div class="find-step-one">
      <div class="text-step-one">
        <h2>Step one</h2>
        <h3>I don't feel eating...</h3>
        <div class="group-checkbox-food">
          <div class="group-checkbox-1">
        <input type="checkbox">Italien
        <input type="checkbox">Greek
        <input type="checkbox">Chinese
        <input type="checkbox">Indian
          <div class="group-checkbox-2">
        <input type="checkbox">FastFood
        <input type="checkbox">Steak
        <input type="checkbox">Mexican
        <input type="checkbox">Japanese
          </div>
          </div>
        </div>
      </div>

    </div>
    <div class="find-step-two">
      <div class="text-step-two">
      <h2>Step two</h2>
      <h3>I need there to be...</h3>
        <div class="group-checkbox-foodchoice">
          <div class="group-checkbox-foodchoice">
            <input type="checkbox">Vegetarian Meals
            <input type="checkbox">Halal Meals
            <input type="checkbox">Vegan Meals
            <input type="checkbox">Kosher Meals
      </div>
    </div>

  </div>

</div>
  </div>
  <div class="shadow-white-background-2">
    <div class="find-restaurant-title">
      <h1>Find restaurant</h1>
    </div>
    <div class="find-step-one">
      <div class="text-step-one">
        <h2>Step one</h2>
        <h3>I don't feel eating...</h3>
        <div class="group-checkbox-food">
          <div class="group-checkbox-1">
            <input type="checkbox">Italien
            <input type="checkbox">Greek
            <input type="checkbox">Chinese
            <input type="checkbox">Indian
            <div class="group-checkbox-2">
              <input type="checkbox">FastFood
              <input type="checkbox">Steak
              <input type="checkbox">Mexican
              <input type="checkbox">Japanese
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="find-step-two">
      <div class="text-step-two">
        <h2>Step two</h2>
        <h3>I need there to be...</h3>
        <div class="group-checkbox-foodchoice">
          <div class="group-checkbox-foodchoice">
            <input type="checkbox">Vegetarian Meals
            <input type="checkbox">Halal Meals
            <input type="checkbox">Vegan Meals
            <input type="checkbox">Kosher Meals
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
