<!-- Header -->
<div class="header" role="banner">
    <img width="30" alt="Angular Logo" src="assets/image/Scramble_Logo.png"
    />
    <span>Scramble</span>
    <div routerLink="/home" class="navbarbutton">
        <a>Home</a>
    </div>
    <div routerLink="/find-restaurant" class="navbarbutton">
        <a>Find Restaurant</a>
    </div>
    <div routerLink="/groups" class="navbarbutton">
        <a>Groups</a>
    </div>
    <div class="spacer"></div>
    <div routerLink="/login" class="loginbutton">
        <a>Login</a>
    </div>
</div>