<!-- Header -->
<div class="header" role="banner">
    <img width="30" alt="Angular Logo" src="assets/image/Scramble_Logo.png"
    />
    <span>Scramble</span>
    <div routerLink="/home" class="navbarbutton">
        <a>Home</a>
    </div>
    <div routerLink="/restaurants" class="navbarbutton">
        <a>Find Restaurant</a>
    </div>
    <div *ngIf="authenticated()" routerLink="/eatgroup-list" class="navbarbutton">
    <a>My EatGroups</a>
    </div>
    <div class="spacer"></div>
    <div *ngIf="!authenticated()" routerLink="/login" class="loginbutton">
        <a>Sign in</a>
    </div>
    <div *ngIf="authenticated()"class="logoutbutton">
        Sign out
    </div>
</div>
