<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="background">
  <div class="shadow-background">
    <div class="eatgroup-update-text">
      <h2><i class="far fa-edit"></i> Modify EatGroup</h2>

      <div class="deletebutton">
        <button class="btn btn-danger" (click)="deleteGroup(updateeatgroup.name)"> Delete EatGroup</button>
      </div>

      <br>
      <p>Type the new name below and click the button</p>
      <form name="updateEG" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input [(ngModel)]="updateeatgroup.name" class="form-control"
                 id="name"
                 name="name"
                 type="text">
        </div>
        <button class="btn btn-primary" type="submit">Modify EatGroup</button>
      </form>
    </div>
  </div>
</div>
