<div class="background">
    <div class="shadow-white-background">
        <div class="register-text">
            <h1>Sign up</h1>
          <form [formGroup]="addForm" (ngSubmit)="onSubmit()" >
            <div routerLink="/login" class="loginbutton">
                <p>Already have an account? Sign in <a>here!</a></p>
            </div>

            <div class="form-group">
                <input type="text" formControlName="userName" name="userName" class="input" id="user-username" placeholder="Username" />
            </div>
            <div class="form-group">
                <input type="email"  formControlName="email" name="email" class="input" id="user-email" placeholder="Email Address" />
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" name="password" class="input" id="user-password" placeholder="Password" />
            </div>
<!--            <div class="form-group">-->
<!--                <input type="password" formControlName="password" name="password" class="input" id="user-password-confirm" placeholder="Confirm Password" />-->
<!--            </div>-->

            <button type="submit" class="sign-up-button">Sign up</button>
          </form>
        </div>

    </div>

</div>
