.parent{
  overflow: hidden;

  background: url("../../assets/image/background.jpg") no-repeat rgb(30,30,30) fixed center center;
  background-size: cover;
  top: 0px;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.child1{
  float: left;
  margin-bottom: 100%;
}

.child2{
  clear: right;
}

